argh==0.26.2
astroid==1.5.3
backports.weakref==1.0rc1
bitarray==0.8.1
bleach==1.5.0
certifi==2016.2.28
colorama==0.3.9
colorcet==0.9.1
cycler==0.10.0
decorator==4.1.2
docopt==0.6.2
edward==1.3.3
entrypoints==0.2.3
h5py==2.7.1
html5lib==0.9999999
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.1
isort==4.2.15
jedi==0.11.0
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
lazy-object-proxy==1.3.1
-e git+git@github.com:bulik/ldsc.git@d635287c8d12d25df540b7b8bc1eb7fee41e2aaf#egg=ldsc
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.0.2
mccabe==0.6.1
mistune==0.7.4
nbconvert==5.3.1
nbformat==4.4.0
nose==1.3.7
notebook==5.1.0
numpy==1.13.3
-e git+git@github.com:aksarkar/nwas.git@2990aaa482c20709950dcc425ea08be33302d90f#egg=nwas
pandas==0.20.3
pandocfilters==1.4.2
parso==0.1.0
pathtools==0.1.2
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.2.0
ptyprocess==0.5.2
py==1.4.34
Pygments==2.2.0
pylint==1.7.2
pyparsing==2.2.0
pyplink==1.3.4
pytest==3.2.2
pytest-watch==4.1.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.1
scikit-learn==0.19.0
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
stevedore==1.27.0
tensorflow==1.2.1
terminado==0.6
testpath==0.3.1
Theano==0.9.0
tornado==4.5.2
traitlets==4.3.2
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
watchdog==0.8.3
wcwidth==0.1.7
Werkzeug==0.12.2
widgetsnbextension==3.0.3
wrapt==1.10.11
